<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  -->

  <% if (!CHANNEL) { %>
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="YouTube Channel Info">
  <meta name="twitter:description" content="Get Any YouTube Channel Info">
  <meta name="twitter:image" content="https://www.vectorico.com/wp-content/uploads/2018/02/youtube-icon-300x300.png">
  <meta property="og:title" content="YouTube Channel Info" />
  <meta property="og:description" content="Get Any YouTube Channel Info">
  <meta property="og:image" content="https://www.vectorico.com/wp-content/uploads/2018/02/youtube-icon-300x300.png" />
  <meta name="theme-color" content="#f2d983">
  <meta name="description" content="Get Any YouTube Channel Info">
  <meta name="keywords" content="yt , youtube , data , info">
  <meta name="author" content="YouTube Channel Info">
  <% } else { %>
  <% if (INFO) { %>
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%- INFO.author %>">
  <meta name="twitter:description" content="<%- INFO.description %>">
  <meta name="twitter:image" content="<%- INFO.authorThumbnails[INFO.authorThumbnails.length - 1].url %>">
  <meta property="og:title" content="<%- INFO.author %>" />
  <meta property="og:description" content="<%- INFO.description %>">
  <meta property="og:url" content="<%- INFO.authorUrl %>" />
  <meta property="og:image" content="<%- INFO.authorThumbnails[INFO.authorThumbnails.length - 1].url %>" />
  <meta name="theme-color" content="#f2d983">
  <meta name="description" content="<%- INFO.description %>">
  <meta name="keywords" content="yt , youtube , data , info">
  <meta name="author" content="<%- INFO.author %>">
  <% } else { %>
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="YouTube Channel Info">
  <meta name="twitter:description" content="Get Any YouTube Channel Info">
  <meta name="twitter:image" content="https://www.vectorico.com/wp-content/uploads/2018/02/youtube-icon-300x300.png">
  <meta property="og:title" content="YouTube Channel Info" />
  <meta property="og:description" content="Get Any YouTube Channel Info">
  <meta property="og:image" content="https://www.vectorico.com/wp-content/uploads/2018/02/youtube-icon-300x300.png" />
  <meta name="theme-color" content="#f2d983">
  <meta name="description" content="Get Any YouTube Channel Info">
  <meta name="keywords" content="yt , youtube , data , info">
  <meta name="author" content="YouTube Channel Info">
  <% } %>
  <% } %>


  <!--  -->

  <title>
    <%= pageTitle %>
  </title>

  <link rel="stylesheet" href="/css/main.css">
  </link>

  <link rel="stylesheet" href="/css/res.css">
  </link>

  <script src="https://kit.fontawesome.com/31fd7c4de0.js" crossorigin="anonymous"></script>

  <link rel="icon" href="<%- icon %>">
  </link>

</head>

<body>

  <% if (ERR) { %>
  <nav class="navbar">
    <img class="name-img" src="<%- icon %>">
    <form action="/" method="GET">
      <input name="ID" class="search sans" type="text" placeholder="ایدی چنل مورد نظر را وارد کنید">
    </form>
  </nav>

  <div class="alarm aviny">
    <%- ERR %></br>
    از درست بودن ایدی وارد شده اطمینان صاحل فرمایید
  </div>

  <% } else if (!CHANNEL) { %>

  <nav class="navbar">
    <img class="name-img" src="<%- icon %>">
    <form action="/" method="GET">
      <input name="ID" class="search sans" type="text" placeholder="ایدی چنل مورد نظر را وارد کنید">
    </form>
  </nav>

  <div class="alarm aviny">
    لطفا ایدی چنل مورد نظر را در کادر مشخص شده وارد نمایید
  </div>

  <% } else { %>

  <% if (INFO && VIDEO && STATS) { %>

  <nav class="navbar">
    <img class="name-img" src="<%- icon %>">
    <form action="/" method="GET">
      <input name="ID" class="search sans" type="text" placeholder="ایدی چنل مورد نظر را وارد کنید">
    </form>
  </nav>

  <% if (INFO.authorBanners[INFO.authorBanners.length - 1].url) { %>
  <div>
    <img class="banner" src="<%- INFO.authorBanners[INFO.authorBanners.length - 1].url%>">
  </div>
  <% } %>


  <div class="author_sec">
    <% if (INFO.authorThumbnails[INFO.authorThumbnails.length - 1].url) { %>
    <img class="author_img" src="<%- INFO.authorThumbnails[INFO.authorThumbnails.length - 1].url %>">
    <% } %>
    <h2 class="sans author_href" style="color: #fff;"><a class="author_href sans" target="_blank" href="<%- INFO.authorUrl %>">
        <%- INFO.author %>
      </a></h2>
    <h4 class="author_subsount sans">
      دنبال کننده <%- INFO.subscriberCount %>
      | بازدید کل <%- STATS.viewCount %>
      | تاریخ ساخت <%- momentJalali(STATS.joinedDate).locale("fa").format("D MMM YYYY") %>
      </br>

      <% if (INFO.isFamilyFriendly===true) { %>
      <i class="fa-solid fa-house-chimney-window"></i> <% } %>
      <% if (INFO.isVerified===true) { %>
      <i class="fa-solid fa-user-check"></i> <% } %>
      <% if (INFO.isOfficialArtist===true) { %>
      <i class="fa-solid fa-music"></i> <% } %>
    </h4>
    <div class="channelLinks">
      <% if (INFO.channelLinks) { %>
      <% INFO.channelLinks.primaryLinks.forEach(LINK=> { %>
      <a href="<%- LINK.url %>"><img src="<%- LINK.icon %>" /></a>
      <% }) %>

      <% INFO.channelLinks.secondaryLinks.forEach(LINK=> { %>
      <a href="<%- LINK.url %>"><img src="<%- LINK.icon %>" /></a>
      <% }) %>
      <% } %>
    </div>

    </br>
    <% if (INFO.description) { %>
    <h5 class="author_des sans">
      <%- INFO.description %>
    </h5>
    <% } %>
    <div>
      <a class="sub_btn aviny" href="<%- INFO.authorUrl %>/?sub_confirmation=1" target="_blank">دنبال
        کردن</a>
    </div>
  </div>


  <div class="table">

    <% if(VIDEO) { %>
    <% VIDEO.items.forEach(video=> { %>
    <a class="card" style="width: 18rem;" href="https://www.youtube.com/watch?v=<%- video.videoId %>" target="_blank">
      <div class="card-body">
        <div>
          <img class="videoThumbnail" src="<%-video.videoThumbnails[video.videoThumbnails.length-1].url%>">
        </div>
        <h3 class="video_title sans"><%- video.title %></h3>
        <h5 class="video_info sans">
          <i class="fa-solid fa-eye"></i> <%- video.viewCount%></br>
          <i class="fa-solid fa-clock"></i> <%- video.durationText%></br>
          <i class="fa-solid fa-calendar"></i> <%- video.publishedText %></br>
        </h5>
      </div>
    </a>

    <% }) %>

    <% } else { %>
    <div class="alarm aviny">
      هیچ محتوایی برای نمایش در چنل کاربر یافت نشد
    </div>
    <% } %>
  </div>

  <% } else { %>

  <nav class="navbar">
    <img class="name-img" src="<%- icon %>">
    <form action="/" method="GET">
      <input name="ID" class="search sans" type="text" placeholder="ایدی چنل مورد نظر را وارد کنید">
    </form>
  </nav>

  <div class="alarm aviny">
    اطلاعات مورد نیاز از سمت سرور به دست نیامده</br>
    اگر از درست بودن ایدی مطمعن هستید دوباره تلاش کنید
  </div>

  <% } %>
  <% } %>



</body>



</html>