<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  -->

  <% if (!CHANNEL) { %>
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="YouTube Channel Info">
  <meta name="twitter:description" content="Get Any YouTube Channel Info">
  <meta name="twitter:image" content="https://www.vectorico.com/wp-content/uploads/2018/02/youtube-icon-300x300.png">

  <meta property="og:title" content="YouTube Channel Info" />
  <meta property="og:description" content="Get Any YouTube Channel Info">
  <meta property="og:image" content="https://www.vectorico.com/wp-content/uploads/2018/02/youtube-icon-300x300.png" />

  <meta name="theme-color" content="#f2d983">
  <meta name="description" content="Get Any YouTube Channel Info">
  <meta name="keywords" content="yt , youtube , data , info">
  <meta name="author" content="YouTube Channel Info">
  <% } else { %>
  <meta name="twitter:card" value="summary">
  <meta name="twitter:title" content="<%- INFO.author %>">
  <meta name="twitter:description" content="<%- INFO.description %>">
  <meta name="twitter:image" content="<%- INFO.authorThumbnails[INFO.authorThumbnails.length - 1].url %>">

  <meta property="og:title" content="<%- INFO.author %>" />
  <meta property="og:description" content="<%- INFO.description %>">
  <meta property="og:url" content="<%- INFO.authorUrl %>" />
  <meta property="og:image" content="<%- INFO.authorThumbnails[INFO.authorThumbnails.length - 1].url %>" />

  <meta name="theme-color" content="#f2d983">
  <meta name="description" content="<%- INFO.description %>">
  <meta name="keywords" content="yt , youtube , data , info">
  <meta name="author" content="<%- INFO.author %>">
  <% } %>


  <!--  -->

  <title>
    <%= pageTitle %>
  </title>

  <link rel="stylesheet" href="/css/main.css">
  </link>

  <link rel="stylesheet" href="/css/res.css">
  </link>

  <link rel="icon" href="<%- icon %>">
  </link>

</head>

<body>


  <% if (!CHANNEL) { %>

  <nav class="navbar">
    <img class="name-img" src="<%- icon %>">
    <form action="/" method="GET">
      <input name="ID" class="search sans" type="text" placeholder="ایدی چنل مورد نظر را وارد کنید">
    </form>
  </nav>

  <div class="alarm aviny">
    لطفا ایدی چنل مورد نظر را در کادر مشخص شده وارد نمایید
  </div>

  <% } else { %>

  <% if (INFO && VIDEO) { %>

  <nav class="navbar">
    <img class="name-img" src="<%- icon %>">
    <form action="/" method="GET">
      <input name="ID" class="search sans" type="text" placeholder="ایدی چنل مورد نظر را وارد کنید">
    </form>
  </nav>

  <div>
    <img class="banner" src="<%- INFO.authorBanners[INFO.authorBanners.length - 1].url%>">
  </div>

  <div>
    <img class="author_img" src="<%- INFO.authorThumbnails[INFO.authorThumbnails.length - 1].url %>">
    <h2 class="sans" style="color: #fff;"><a class="author_href sans" target="_blank" href="<%- INFO.authorUrl %>"></a><%- INFO.author %></a></h2>
    <h4 class="author_subsount sans">دنبال کننده <%- INFO.subscriberCount %></h4>
    <a class="sub_btn aviny" href="<%- INFO.authorUrl %>/?sub_confirmation=1" target="_blank">دنبال کردن</a>
  </div>

  <% } else { %>

  <nav class="navbar">
    <img class="name-img" src="<%- icon %>">
    <form action="/" method="GET">
      <input name="ID" class="search sans" type="text" placeholder="ایدی چنل مورد نظر را وارد کنید">
    </form>
  </nav>

  <div class="alarm aviny">
    ایدی چنل وارد شده یافت نشد
    از درست بودن آن مطمعن شوید
  </div>

  <% } %>
  <% } %>



</body>



</html>